

<h1>This is how you would contact us!</h1>

<p>
  Burrito Factory LP<br>
  208 SW 5th Avenue<br>
  Jenwontgoaway, OR 109204
</p>

  <p>
    tel. 1-800-867-5309
  </p>

  <p>josueislife@burrito.com</p>

  {{#link-to 'about'}}About{{/link-to}}<br>
  {{#link-to 'index'}}Home{{/link-to}}

{{outlet}}
